<template name="admin">
	{{#if currentUser}}
		<div class="admin-head">
			hello {{emails.[0].address}}!
			{{#if profile.owner}}
				<br><br>
				<div class="owner">
				You are the owner - with great power comes great responsibility.
				<br>
				<input id="admin-email" placeholder="enter admin's email" size="30">
				<button class="owner-button" id="delete-user">delete user</button>
				<button class="owner-button" id="make-owner">make user owner</button>
				</div>
			{{/if}}
		</div>
			{{#each approvalList}}
			<div class="approval-list">
			{{url}} <span class="pink">|</span> {{author}} <span class="pink">|</span> {{twHandle}} <span class="pink">|</span> {{type}}
			<span class="AR-buttons">
				<button name="approve" value="{{url}}" class="admin">Approve</button>
				<button name="reject" value="{{url}}" class="admin">Reject</button>
			</span>
			</div>
			{{/each}}
			<button id="log-out">Log out</button>
			<button id="register-user">Register User</button>
	{{/if}}
</template>

<template name="login">
	<form id="login-form" name="login" action="action" class="login">
	    <input name="email" placeholder="email" class="required">
	    <br>
	    <input type="password" name="password" placeholder="password" class="required">
	    <br>
	    <input type="submit" id="login-button" value="Sign in">
	    <button class="forgot" id="forgot">iForgot</button>
	    <p></p>
	</form> 
</template>

<template name="register">
	<form id="register-form" action="action" class="register">
	    <input type="email" name="email" id="email1" placeholder="email address" class="required">
	    <br>
	    <input type="email" name="email_again" id="email2" placeholder="confirm email address" class="required">
	    <br>
	    <input type="submit" id="create-account" value="Register User">
	    <p></p>
	</form>
</template>

<template name="reset">
	<form id="reset-form" action="action" class="register">
	    <input type="password" id="pass-one" placeholder="type new password">
	    <br>
	   	<input type="password" id="pass-two" placeholder="password again">
	    <br>
	    <input type="submit" id="reset-password" value="set password">
	    <p></p>
	</form>	
</template>

<template name="forgot">
	Sorry about your shit memory. Click the link in your email to reset your password.
</template>