<template name="findBlogs">
	<form>
		<select id="searchType">
			<option id="none" disabled selected>filter by...</option>
			<option id="galleries" value="galleries">galleries</option>
			<option id="libraries" value="libraries">libraries</option>
			<option id="archives" value="archives">archives</option>
			<option id="archives" value="museums">museums</option>
			<option id="GLAM" value="GLAM">general GLAM</option>
			<option id="DH" value="DH">digital humanities</option>
			<option id="all" value="all">none</option>
		</select>
	</form>
	{{#each showBlogs}}
		<div class="listing">
			<span class="label">Feed: </span>{{url}}
			<br>
			{{#if author}}
			<span class="label">Author: </span>{{author}}
			{{else}}
			<span class="label">Author: </span>no author listed
			{{/if}}
			<br>
			{{#if twHandle}}
			<span class="label">Twitter: </span>{{twHandle}}
			{{else}}
			<span class="label">Twitter: </span>no Twitter handle listed
			{{/if}}
			<br>
			<span class="label">Type: </span>{{type}}
		</div>
		{{/each}}
</template>