/* Basics */

body {
	font-family: 'Dosis';
	color: #fff;
	background-color: #3a3a3a;
	font-size: 1.2em;
	padding: 0 5px;
	width: 100%;
	margin: auto;
}

a {
	color: #ff748c;
	text-decoration: none;
}

input, 
select,
button {
	margin:  0.5em;
	font-family: 'Dosis';
	color: #fff;
	background-color: #3a3a3a;
	font-size: 0.8em;
	border: 1px solid #ff748c;
	border-radius: 5px;
	text-align: center;
} 

button {
	font-size: 1em;
	color: #3a3a3a;
	background-color: #ff748c;
}

form {
	text-align: center;
}

/* Text and fonts */

@font-face {
	font-family: 'Amaranth';
	src: url("/fonts/Amaranth-Regular.otf");
}

@font-face {
	font-family: 'Dosis';
	src: url("/fonts/Dosis-Regular.otf");
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Amaranth', 'Times New Roman', Serif;
	font-weight: 400;
	color: #ff748c;
}

hr {
	border-color: #ff748c;
}

/* classes */

.wrapper {
	margin: auto;
	width: 90%;
	padding: 2%;
}

label.error {
	background-color: #ff748c;
	color: #3a3a3a;
	padding:3px;
	border-radius: 5px;
	font-size: 0.8em;
}

.email {
	margin: 0 2em;
	color: #ff748c;
	font-family: monospace;
}

.register input {
	border-color: #fff;
}

.clear-float {
	clear:both;
}

.menu {
	margin: auto;
	width: 90%;
}

.home-icon {
	float: left;
	margin: 10px;
	width: 30%;
	text-align: center;
	font-family: 'Amaranth';
}

.listing {
	border: 1px solid #ff748c;
	border-radius: 5px;
	margin: 1em;
	padding: 1em;
	height: 8em;
	width: 41%;
	float:left;
	overflow-wrap: break-word;
  	word-wrap: break-word;
}

.label {
	color: #999;
}

.pink {
	color: #ff748c;
}

.approval-list {
	border: 1px solid #ff748c;
	border-radius: 5px;
	margin-bottom: 1em;
	padding: 0.5em;
}

.admin-head {
	margin: 1em 0;
	border-radius: 5px;
	text-align: center;
	padding: 2px;
	color: #3a3a3a;
	background-color: #fff	;
}

button.admin {
	float:right;
	margin:0 0.5em;
	font-size: 0.9em;
	background-color: #3a3a3a;
	color: #ff748c;
	border-color: #fff
}


button.forgot {
	color: #fff;
	background-color: #3a3a3a;
	font-size: 0.8em;
}

/* footer */

.footer-wrap {
	clear:both;
}

.footer {
	margin: 4em auto 0;
	text-align: center;
	font-size: 0.8em;
	color: #999;
}

#username {
	color: #ff748c;
	font-style: italic;
}

.menu-button {
	float:right;
	font-family: 'Dosis';
	font-size: 1em;
	color: #ff748c;
	background-color: #3a3a3a;
	border: none; 
}

.startup {
	border: 3px solid #FECB24;
	border-radius: 8px;
	color: #3a3a3a;
	background-color: #FECB24;
	padding:0 1em;
}

.startup input {
	border-color: #3a3a3a;
	color:#fff;
	background-color: #3a3a3a;
}

.owner {
	background-color: #ff748c;
	margin: -2px;
	border-radius: 0 0 5px 5px;
}

.owner-button {
	border-color: #3a3a3a;
}

/* RESPONSIVE */

@media screen and (min-device-width: 601px) and (max-device-width: 1023px) {

	body {
	padding: 1px;
	font-size: 150%;
	}

}

/* this bit still needs some work for the admin interface */

@media screen and (max-device-width: 600px) {

	body {
		padding: 1px;
		font-size: 200%;
	}

	input,
	select,
	button {
		font-size: 1em;
	}

	input {
		width: 90%;
	}
	.wrapper {
		float: left;
	}

	.home-icon {
		float: none;
		margin: none;
		width: 90%;

	}

	.listing {
		width: 90%;
		margin: 0.5em 0;
	}

	.approval-list {
		position:relative;
		height:8em;
		overflow-wrap: break-word;
  		word-wrap: break-word;
	}

	.AR-buttons {
		position:absolute;
		bottom: 1em;
		right: 1em;
	}
}